<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ImapAdress" value="ssl0.ovh.net"/>
		<add key="PortNumber" value="993"/>
		<add key="MailReceveur" value="test2@mcp-gestion.org"/>
		<add key="MdpReceveur" value="Test123Test"/>
		<add key="MailEnvoyeur" value=""/>
		<add key="MdpEnvoyeur" value=""/>
	</appSettings>
</configuration>